

menu "Application Configuration"

config APP_USB_DFU_FW_DOWNLOAD
    bool "USB DFU firmware download"
    default y
    select USB_DFU_CLASS
    help
        Enable USB DFU firmware download.

endmenu

menuconfig TEST
    bool "Test firmware"
    help
        Enable test configuration.

if TEST
rsource "src/test/Kconfig"
endif

menu "Zephyr Configuration"
source "Kconfig.zephyr"
endmenu