/*
 * Copyright (c) 2024 Lucas Dietrich <ld.adecy@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */
 
 /dts-v1/;
#include <st/f0/stm32f072Xb.dtsi>
#include <st/f0/stm32f072r(8-b)tx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>


/ {
	model = "Teal CANIoT device board";
	compatible = "custom,teal_caniot";

	chosen {
		zephyr,sram = &sram0;
		zephyr,canbus = &can1;
		zephyr,flash = &flash0;
		zephyr,console = &usart1;
	};
};

/* Clocks */
&clk_hse {
	status = "okay";
	clock-frequency = < DT_FREQ_M(8) >; // 8 MHz crystal
};

&clk_hsi {
	status = "okay";
};

&clk_lsi {
	status = "okay";
};

&pll {
	status = "okay";
	clocks = < &clk_hse >;
	prediv = < 1 >;
	mul = < 6 >;
};

&clk_hsi48 {
	status = "okay";
};


&rcc {
	clocks = < &pll >;
	clock-frequency = < DT_FREQ_M(48) >;
	ahb-prescaler = < 1 >;
	apb1-prescaler = < 1 >;
};


/* Communication */

&spi1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_miso_pb4 &spi1_mosi_pb5 &spi1_sck_pb3>;
};

&timers2 {
	status = "okay";
};

&adc1 {
	status = "okay";
	pinctrl-0 = <
		&adc_in4_pa4 &adc_in5_pa5 &adc_in6_pa6 &adc_in7_pa7 
		&adc_in8_pb0 &adc_in9_pb1 &adc_in10_pc0 &adc_in11_pc1 
		&adc_in12_pc2 &adc_in13_pc3
	>;
	pinctrl-names = "default";
	st,adc-clock-source = < ASYNC >;
	st,adc-prescaler = < 1 >; // TODO good value?
};

&timers3 {
	status = "okay";
};

&i2c2 {
	status = "okay";
	pinctrl-0 = <&i2c2_scl_pb10 &i2c2_sda_pb11>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&can1
{
	status = "okay";
	pinctrl-names  = "default";
	pinctrl-0 = <&can_rx_pb8 &can_tx_pb9>;
	bus-speed = <500000>;
};

&usart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&usart1_tx_pb6 &usart1_rx_pb7>;
	current-speed = < 115200 >;
};

&usart4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&usart4_tx_pc10 &usart4_rx_pc11>;
	current-speed = < 115200 >;
};

/* USB */
&usb {
	status = "okay";

	usb_cdc_acm_uart {
		compatible = "zephyr,cdc-acm-uart";
	};
};